<AuthorizeView>
    <Authorized>
        <li><a href="/account"><i class="icon-user"></i>@context.User.Identity?.Name</a></li>
        <li>
            <form method="post" action="/logout">
                <button type="submit" class="nav-link btn btn-danger">LOGOUT</button>
            </form>
        </li>
    </Authorized>
    <NotAuthorized>
        <li><a href="/login"><i class="icon-user"></i>Login</a></li>
    </NotAuthorized>
</AuthorizeView>
