@page "/summary"
@using VerdonSale.Service
@inject UserService _user
@inject SalesDbContext _db
 
 <main class="main">
			<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
				<div class="container">
					<h1 class="page-title">Checkout<span>Shop</span></h1>
				</div><!-- End .container -->
			</div><!-- End .page-header -->
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a>Home</a></li>
						<li class="breadcrumb-item"><a>Shop</a></li>
						<li class="breadcrumb-item active" aria-current="page">Checkout</li>
					</ol>
				</div><!-- End .container -->
			</nav><!-- End .breadcrumb-nav -->

			<div class="page-content">
				<div class="checkout">
					<div class="container">
						<EditForm Model="@order" action="#">
							<div class="row">
								<div class="col-lg-9">
									<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
										<div class="row">
											<div class="col-sm-6">
												<label>First Name *</label>
												<InputText @bind-Value="order.FirstName" type="text" class="form-control" required/>
											</div><!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>Last Name *</label>
										<InputText @bind-Value="order.LastName" type="text" class="form-control" required />
											</div><!-- End .col-sm-6 -->
										</div><!-- End .row -->

										<label>Company Name (Optional)</label>
										<InputText @bind-Value="order.CompanyName" type="text" class="form-control"/>

										<label>Country *</label>
										<InputText @bind-Value="order.Country" type="text" class="form-control" required />

													<label>Street address *</label>
										<InputText @bind-Value="order.Address" type="text" class="form-control" placeholder="Appartments, suite, unit etc ... House number and Street name" required />

										<div class="row">
											<div class="col-sm-6">
												<label>Town / City *</label>
												<InputText @bind-Value="order.City" type="text" class="form-control" required/>
											</div><!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>State / County *</label>
												<InputText @bind-Value="order.State" type="text" class="form-control" required/>
											</div><!-- End .col-sm-6 -->
										</div><!-- End .row -->

										<div class="row">
											<div class="col-sm-6">
												<label>Postcode / ZIP *</label>
												<InputText @bind-Value="order.Postalcode" type="text" class="form-control" required/>
											</div><!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>Phone *</label>
									<InputText @bind-Value="order.PhoneNumber" type="tel" class="form-control" required />
											</div><!-- End .col-sm-6 -->
										</div><!-- End .row -->

										<label>Email address *</label>
										<InputText @bind-Value="order.Email" type="email" class="form-control" required/>

										<label>Order notes (optional)</label>
							<InputTextArea @bind-Value="order.OrderNote" class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></InputTextArea>
								</div><!-- End .col-lg-9 -->
								<aside class="col-lg-3">
									<div class="summary">
										<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

										<table class="table table-summary">
											<thead>
												<tr>
													<th>Product</th>
													<th>Total</th>
												</tr>
											</thead>

											<tbody>
												@foreach (var item in products)
												{
													<tr>
														<td><strong>@item.ProductName</strong></td>
														<td>$@item.Price.00</td>
													</tr>
												}

												
												<tr class="summary-subtotal">
													<td>Subtotal:</td>
											<td>$@(products.Select(x => x.Price * x.Quantity).Sum()).00</td>
												</tr><!-- End .summary-subtotal -->
												<tr>
													<td>Shipping:</td>
													<td>Free shipping</td>
												</tr>
												<tr class="summary-total">
													<td>Total:</td>
													<td>$160.00</td>
												</tr><!-- End .summary-total -->
											</tbody>
										</table><!-- End .table table-summary -->

					
										<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
											<span class="btn-text">Place Order</span>
											<span class="btn-hover-text">Proceed to Payment</span>
										</button>
									</div><!-- End .summary -->
								</aside><!-- End .col-lg-3 -->
							</div><!-- End .row -->
						</EditForm>
					</div><!-- End .container -->
				</div><!-- End .checkout -->
			</div><!-- End .page-content -->
		</main><!-- End .main -->
@code{
	public AppUser user = new();
	public Order order = new();
	public List<CartProduct> products = new();

	protected override async Task OnInitializedAsync()
	{
		user = await _user.GetUser();
		products = await _db.CartProducts.Where(x => x.CartId == user.CartId).ToListAsync();
		await Task.Run(SetParametersAsync);
		await base.OnInitializedAsync();
	}
	
	 void SetParametersAsync()
	{
		order.FirstName = user.FirstName;
		order.LastName = user.LastName;
		order.MiddleName = user.MiddleName;
		order.Address = user.Address;
		order.Country = user.Country;
		order.City = user.City;
		order.State = user.State;
		order.PhoneNumber = user.PhoneNumber;

	}

}