@page "/admin/add/category"
@using BlazorBootstrap
@using Microsoft.AspNetCore.Mvc
@using VerdonSale.Services
@inject SalesDbContext db
@inject RequestLoggerService _request
@inject NavigationManager router
@inject UploadService _service
@layout AdminLayout

<Toasts class="p-3" Placement="ToastsPlacement.TopRight" />
<div class="w-full px-6 py-6 mx-auto">
 <div class="card shadow">
        <div class="card-body flex-auto p-6">
            <h1 class="mb-0 font-bold">Add Category</h1><br />
          <EditForm Model="category" OnSubmit="@Post">
                <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Category Image</label>
                <div class="mb-4 form-group">
                    <InputFile OnChange="@UploadImg" class="form-control focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" />
                </div>
                <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Category Name</label>
                <div class="mb-4">
                    <InputText @bind-Value="@category.CategoryName" type="text" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Category Name" aria-label="Email" aria-describedby="email-addon" />
                </div>
                <div class="text-center">
                    <button type="submit" class="inline-block w-full px-6 py-3 mt-6 mb-0 transition-all font-bold text-center text-white uppercase align-middle  border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in bg-gradient-to-tl from-blue-600 to-purple-400 hover:scale-102 hover:shadow-soft-xs">Submit</button>
                </div>
            </EditForm>
        </div>
 </div>
 </div>
@code{
    public Category category = new();

    public void UploadImg(InputFileChangeEventArgs e)
        {
            try
            {
                var files = e.GetMultipleFiles().ToList();
            files.ForEach(async x => category.Image = await _service.UploadFile(x));
                _request.Log("uploaded file", StatusCodes.Status200OK.ToString());
            }
            catch (Exception ex)
            {
                _request.Log("upload file failed", StatusCodes.Status501NotImplemented.ToString());
                Console.WriteLine(ex);
            }
        }

    [HttpPost]
    public async void Post()
    {
        try
        {
            await db.Categories.AddAsync(category);
            await db.SaveChangesAsync();
            _request.Log("post new category", StatusCodes.Status200OK.ToString());
            router.NavigateTo("/admin/category");
        }
        catch(Exception ex)
        {
            _request.Log("new category failed", StatusCodes.Status501NotImplemented.ToString());
            Console.WriteLine(ex);
        }
    }
}