@page "/admin/category"

@layout AdminLayout
@inject SalesDbContext _db



<div class="content-wrapper">
    <div class="flex flex-wrap -mx-3">
    </div>
    <h3>Category 
        <a href="/admin/add/category" class="btn btn-primary btn-sm">Add category</a>
        <button onclick="window.print()" class="btn btn-info btn-sm">Print</button>
        <button onclick="window.export()" class="btn btn-success btn-sm">Excel</button>
    </h3>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="card-title">Categories Table</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search"/>
                        </div>
                    </div>
                </div>
               <br/>
                <div class="table-responsive">
                    <table class="table table-striped">
                       
                        <tbody>
                            @foreach (var item in category.Value)
                            {
                                <tr>
                                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <div class="flex px-2 py-1">
                                            <div>
                                                <img src="@item.Image" class="inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user1" />
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center">
                                            <h6 class="mb-0 leading-normal text-sm">@item.CategoryName</h6>
                                        </div>
                                    </td>
                                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <p class="mb-0 font-semibold leading-tight text-xs">@item.Stamp</p>
                                    </td>
                                    <td>
                                        <a href="/edit/category/@item.CategoryId" class="btn btn-outline-primary">Edit</a>
                                    </td>
                                    <td>
                                        <button @onclick="@(()=> Delete(item))" class="btn btn-outline-danger">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   </div>


@code{
    #nullable disable

    public BehaviorSubject<List<Category>> category = new BehaviorSubject<List<Category>>(null);
    protected override async Task OnInitializedAsync()
    {
        await GetAll();
        await base.OnInitializedAsync();
    }

    public async Task<BehaviorSubject<List<Category>>> GetAll()
    {
        try
        {
            var entity = await _db.Categories.ToListAsync();
            category.OnNext(entity);

        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);
        }

        return category;
    }

    public void Delete(Category entity)
    {
        try
        {
            _db.Categories.Remove(entity);
            _db.SaveChanges();
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);
        }

       
    }

    
}