@page "/editaddress"
@inject UserService _user
@inject ApplicationDbContext _db
@inject NavigationManager _router

<main class="main">
        
            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-2 mb-lg-0">
                            <h2 class="title mb-1">Edit Information</h2><!-- End .title mb-2 -->
                    <EditForm Model="user" OnSubmit="UpdateUser" class="contact-form mb-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cname" class="sr-only">Address</label>
                                <InputText @bind-Value="user.Address" type="text" class="form-control" id="cname" placeholder="Address *" required/>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only">City</label>
                                <InputText @bind-Value="user.City" type="text" class="form-control" id="cemail" placeholder="City *" required />
                            </div><!-- End .col-sm-6 --> 
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cphone" class="sr-only">State</label>
                                <InputText @bind-Value="user.State" type="tel" class="form-control" id="cphone" placeholder="State" />
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label for="csubject" class="sr-only">Country</label>
                                <InputText @bind-Value="user.Country" type="text" class="form-control" id="csubject" placeholder="Country" />
                            </div><!-- End .col-sm-6 -->
                            <div class="col-sm-6">
                                <label for="csubject" class="sr-only">Postal Code </label>
                                <InputText @bind-Value="user.Postalcode" type="text" class="form-control" id="csubject" placeholder="Postal Code" />
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                            <span>SUBMIT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </EditForm><!-- End .contact-form -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
@code{
    public AppUser user = new();

    protected override async Task OnInitializedAsync()
    {
        user = await _user.GetUser();
        await base.OnInitializedAsync();
    }


    public async Task UpdateUser()
    {
        try
        {
            _db.User.Update(user);
            await _db.SaveChangesAsync();
            _router.NavigateTo("/account");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}