@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<div class="container" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <div class="form-box">
                    <a href="/" align="center">
                        <img src="~/assets/images/demos/demo-7/logo.png" alt=" Logo" width="105" height="25">
                    </a>
                    <div class="form-tab">
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="signin-tab">
                                <h3>@ViewData["Title"]</h3>
                                <p class="text-danger">This account has been locked out, please try again later.</p>
                            </div><!-- .End .tab-pane -->

                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->
    </div>
</div>
