@page "/login"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <div class="form-box">
                    <a href="/" align="center">
                        <img src="assets/images/demos/demo-7/logo.png" alt=" Logo" width="105" height="25">
                    </a>
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="/register" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active"  role="tabpanel" aria-labelledby="signin-tab">
                                <form id="account" method="post" class="user">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" asp-for="Input.Email" class="form-control" required />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" asp-for="Input.Password" class="form-control" required />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div><!-- End .form-group -->

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember" asp-for="Input.RememberMe" />
                                        <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                    </div><!-- End .custom-checkbox -->
                                  
                                    <div class="form-footer">
                                        <button id="login-submit" type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        
                                        <a id="forgot-password" asp-page="./ForgotPassword" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>

                            </div><!-- .End .tab-pane -->
                            
                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->
       </div>
       </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
