@page "/register"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <div class="form-box">
                    <a href="/" align="center">
                        <img src="assets/images/demos/demo-7/logo.png" alt=" Logo" width="105" height="25">
                    </a>
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/login"  aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" asp-for="Input.Email" class="form-control" required />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" asp-for="Input.Password" class="form-control" required />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Confirm Password *</label>
                                        <input type="password" asp-for="  Input.ConfirmPassword" class="form-control"  required />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div><!-- End .form-group -->


                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy" required/>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->
      </div>
   </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
